<launch>
    <arg name="device" default="/dev/ttyUSB-alt"/>
    <arg name="altimeter_driver" default="altimeter_driver"/>
    <arg name="baudrate" default="115200"/>
    <arg name="output" default="screen"/>

    <node name="$(arg encoder_driver)" pkg="altimeter_driver" type="altimeter_driver" output="$(arg output)">
        <param name="device" type="string" value="$(arg device)"/>
        <param name="baudrate" type="int" value="$(arg baudrate)"/>
    </node>
</launch>
